@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.eot?zdxfjk');
  src: url('./icomoon.eot?zdxfjk#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?zdxfjk') format('truetype'),
    url('./icomoon.woff?zdxfjk') format('woff'),
    url('./icomoon.svg?zdxfjk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: '\ea83';
}
.icon-facebook:before {
  content: '\ea90';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-whatsapp:before {
  content: '\ea93';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-linkedin:before {
  content: '\eaca';
}
